@import "https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}

.app {
  width: 75%;
  margin: 0 auto;
}

.header {
  display: flex;
  font-weight: 600;
  align-items: center;
  height: 10em;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5em;
  flex-grow: 1;
}

.logo img {
  height: 7em;
}

.secondPart {
  display: flex;
  align-items: center;
  gap: 2.8em;
}

.secondPart p {
  font-weight: 600;
  font-size: 1.6em;
}

input {
  font-size: 1.5em;
  padding: 0.6em;
  font-family: inherit;
  border: 1px solid #ffe8cc;
  color: inherit;
  width: 15em;
  border-radius: 5px;
}

input:focus {
  outline: 2px solid #ffa94d;
}

button {
  background-color: #ffa94d;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

button:hover {
  background-color: #ff992b;
}

.clearBtn {
  padding: 0.6em 1.8em;
}